{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    {% block homepage %}
        <div class="float-left">
        <span>{% trans %}go.to{% endtrans %}</span>
            <a href="{{ path('item_index') }}">{% trans %}items.page{% endtrans %}</a>
        </div>
    {% endblock %}
{% endblock %}
