{% extends 'base.html.twig' %}
{% block body %}
    <h1>{% trans %}page.forbidden{% endtrans %}</h1>
    <p>{% trans %}page.forbidden.text{% endtrans %} <a href="{{ path('item_index', {'_locale' : app.request.locale}) }}">{% trans %}return.homepage{% endtrans %}</a>.</p>
{% endblock %}
