{% extends 'base.html.twig' %}

{% block title %}{% trans %}edit.item{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans %}edit.item{% endtrans %}</h1>

    {{ include('item/_form.html.twig', {'button_label': 'update.item'|trans}) }}

    <a class="btn btn-primary float-left" href="{{ path('item_search', {'filter' : 'all'}) }}"
       title="{% trans %}item.index{% endtrans %}">
        <i class="fa fa-list"></i>
    </a>

    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
