{% extends 'base.html.twig' %}

{% block title %}{% trans %}homepage{% endtrans %}{% endblock %}

{% block body %}
    {% block homepage %}
        <div class="float-left">
            <span>{% trans %}go.to{% endtrans %}</span> <a class="btn btn-primary" href="{{ path('item_search', {'filter' : 'all'}) }}">{% trans %}items.page{% endtrans %}</a>
        </div>
    {% endblock %}
{% endblock %}
