{% extends 'base.html.twig' %}

{% block title %}{% trans %}new.item{% endtrans %}{% endblock %}

{% block body %}

    <h1>{% trans %}create.new.item{% endtrans %}</h1>

    {{ include('item/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('item_search', {'filter' : 'all'}) }}">{% trans %}item.index{% endtrans %}</a>
{% endblock %}
